//Variables

$maincolor: black;
$contrastcolor: white;

//Mixins -- predefined styles (key value pairs)
@mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}

@mixin black-text-white-bg {
    color: $maincolor;
    background-color: $contrastcolor;
}
//Body Styles
body {
    margin: 0;
}
//Header Styles
nav {
    @include white-text-black-bg;
    display: flex;
    justify-content: flex-start;
    a {
        @include white-text-black-bg;
        text-decoration: none;
        font-family: Helvetica;
        div {
            margin: 10px;
            font-size: large;
        }
    }
}

div {
    a {
        text-decoration: none;
    }
    img {
        height: 300px;
        width: 500px;
    }
}
